/temp
/lvprog/TWM.aliases
/lvprog/TWM.lvlps
/lvprog/config.ini
/octprog/qwtb/alg_TWM-PWRTDI/*.mat
/octprog/qwtb/alg_TWM-THDWFFT/*.mat
/octprog/qwtb/alg_TWM-MODTDPS/*.mat
/octprog/qwtb/alg_TWM-VecRat*
/octprog/qwtb/*.zip
/builds/*
/builds
/TWM-builds
